* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-border: 5px solid white;
    --default-transition: all 1.5s;
    --fast-transition: all 0.5s;
    --default-radius: 5px;
}

body {
    height: 100vh;
    font-family: 'Callahan', sans-serif;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    padding: 10px 20px;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-shadow: -10px 10px 10px darkblue, 5px -5px 10px crimson;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--default-border);
    padding: 10px 20px;
    transition: var(--default-transition);
    border-radius: var(--default-radius);
}

#name-input-container {
    gap: 50px;
    max-height: 100%;
    padding-bottom: 70px;
}

#name-container {
    max-height: 0;
    visibility: hidden;
    gap: 100px;
}

input,
button {
    font: inherit;
}

input {
    appearance: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

input:focus {
    box-shadow: inset 5px 5px 10px grey;
}

#submit-button {
    padding: 5px 20px;
    align-self: flex-end;
    margin-bottom: -60px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.strong {
    font-weight: 700;
}

.player-name {
    font-size: 1.5em;
}

.board-container {
    background-color: white;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-image: url(images/board.png);
    background-size: cover;
    visibility: hidden;
    max-height: 0;
    transition: var(--default-transition);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.value {
    border: 5px solid transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.0;
}

.free:hover {
    border: 5px solid lightgreen;
    opacity: 1.0;
}

.occupied {
    opacity: 1.0;
}

.occupied:hover {
    border: 5px solid red;
    opacity: 1.0;
}

.value.won {
    border: 5px solid white;
    opacity: 1.0;
}

.result-container {
    border: var(--default-border);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    visibility: hidden;
    max-height: 0;
    transition: var(--fast-transition);
}

#play-again {
    padding: 5px 20px;
}

.credits {
    margin-left: auto;
}

.credits-link {
    text-decoration: none;
    color: grey;
}

.credits-link:hover {
    color: cornflowerblue;
}