* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-border: 5px solid white;
}

body {
    height: 100vh;
    font-family: 'Callahan', sans-serif;
}

main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    background-color: black;
}

.container {
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    border: var(--default-border);
    padding: 10px;
    transition: all 2s;
}

#name-input-container {
    gap: 50px;
    max-height: 100%;
    padding-bottom: 70px;
}

#name-container {
    max-height: 0;
    visibility: hidden;
    gap: 100px;
}

#button {
    font: inherit;
    padding: 5px 20px;
    align-self: flex-end;
    margin-bottom: -60px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.strong {
    font-weight: 800;
}

.board-container {
    background-color: white;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-image: url(images/board.png);
    background-size: cover;
    visibility: hidden;
    max-height: 0;
    transition: all 2s;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.value {
    border: 5px solid transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.0;
}

.free:hover {
    border: 5px solid lightgreen;
    opacity: 1.0;
}

.occupied {
    opacity: 1.0;
}

.occupied:hover {
    border: 5px solid red;
    opacity: 1.0;
}

.value.won {
    border: 5px solid darkturquoise;
    opacity: 1.0;
}